<setting>
  <MapOptimizer
    name     = "MainPGO"
    LoopNum  = "0"
    LoadFile = "../data/before_ku2022_5.g2o"
    SaveFile = "../data/after_ku2022_5.g2o"
    />
  
  <MapOptimizer
    name     = "SubPGO"
    LoopNum  = "0"
    LoadFile = "../data/before_nc2022_C.g2o"
    SaveFile = "../data/after_nc2022_C.g2o"
    />
  
  <SaveWeightHistgram
    name     = "Histgram"
    LoadFile = "../data/after_nc2021_X__50.g2o"
    SaveFile = "../data/histogram_X__50.csv"
    />
  
  <GeoConverter
    name     = "GeoConv"
    rate     = "1"
    LoadFile = "../data/nc2022_7_geo.csv"
    SaveFile = "../data/nc2022_7_locgeo.csv"
    OrigLLH  = "34.693111 135.504632 8.137000"
    OrigAng  = "-180"
    />
  
  <ProxMatcher
    name     = "ProxMatcher"
    LoadFile = "../data/before_nc2021_W.g2o"
    SaveFile = "../data/before_nc2021_T.g2o"
    />
  
  <MapConverter
    name       = "Omnia_to_G2O"
    LoadFormat = "Omnia"
    SaveFormat = "G2O"
    MapNum     = "1"
    LocFile1   = "../data/ku2022_2_loc.csv"
    ProxFile1  = "../data/ku2022_2_prox.csv"
    MatchFile  = "../data/ku2022_2_match.csv"
    G2OFile    = "../data/before_ku2022_5.g2o"
    >
    <LoadOmniaSettings
      minProxMatchSimilarity = "0.0"
      maxPosMatchError       = "FTL_MAX"
      maxYawMatchError       = "FTL_MAX"
      />
    <SaveG2OSettings
      v_tag       = "VERTEX_PROX"
      oe_tag      = "EDGE_SE2"
      le_tag      = "EDGE_EM_PROX"
      maxProxNum  = "100"
      proxSimGain = "1.0"
      switchInfo  = "0.1"
      />
  </MapConverter>
  
  <MapConverter
    name       = "G2O_to_Omnia"
    LoadFormat = "G2O"
    SaveFormat = "Omnia"
    G2OFile    = "../data/after_ku2022_5.g2o"
    MapNum     = "1"
    LocFile1   = "../data/ku2022_2_locopt.csv"
    ProxFile1  = "../data/ku2022_2_proxopt.csv"
    MatchFile  = "../data/ku2022_2_matchopt.csv"
    >
    <LoadG2OSettings
      numMap       = "1"
      countRange1  = "0 761"
      proxSimGain  = "1.0"
      proxSimLimit = "0.0"
      />
    <SaveOmniaSettings
      timeScale = "500"
      />
  </MapConverter>
  
  <MapConverter
    name         = "Omnia_to_AbsProx"
    LoadFormat   = "Omnia"
    SaveFormat   = "AbsProx"
    MapNum       = "1"
    LocFile1     = "../data/ku2022_2_locopt.csv"
    ProxFile1    = "../data/ku2022_2_prox.csv"
    AbsProxFile1 = "../data/ku2022_2_absprox.csv"
    >
    <LoadOmniaSettings
      minProxMatchSimilarity = "0.0"
      maxPosMatchError       = "FTL_MAX"
      maxYawMatchError       = "FTL_MAX"
      />
    <SaveOmniaSettings
      timeScale = "500"
      />
  </MapConverter>
  
  
  <SEQUENCE>
    <!--
    <task name="SubPGO"/>
    <task name="ProxMatcher"/>
    -->
    <task name="Omnia_to_AbsProx"/>
    <!--
    <task name="Omnia_to_G2O"/>
    <task name="MainPGO"/>
    <task name="G2O_to_Omnia"/>
    <task name="GeoConv"/>
    <task name="Histgram"/>
    -->
  </SEQUENCE>
</setting>