<setting>
  <MapOptimizer
    name     = "MainPGO"
    LoopNum  = "0"
    />

  <MapLoader
    name = "OmniaLoad"
    mapNum = "4"
    delim = ","
    timeScale = "500"
    loadFormat = "Loc Prox Match"
    MatchFile = "../data/nc2022_match.csv"
    PoseRefFile      = "../data/_nc2022_SSE2_poseref.csv"
    >
    <Map ID = "1"
      LocFile      = "../data/nc2022_1_loc.csv"
      ProxFile     = "../data/nc2022_1_prox.csv"
      GeoFile      = "../data/nc2022_1_geo.csv"
      MovementFile = "../data/_nc2022_1_SSE2_movement.csv"
      PCFile       = "../data/nc2022_1_pc.csv"
      />
    <Map ID = "2"
      LocFile      = "../data/nc2022_2_loc.csv"
      ProxFile     = "../data/nc2022_2_prox.csv"
      GeoFile      = "../data/nc2022_2_geo.csv"
      MovementFile = "../data/_nc2022_2_SSE2_movement.csv"
      PCFile       = "../data/nc2022_2_pc.csv"
      />
    <Map ID = "3"
      LocFile      = "../data/nc2022_6_loc.csv"
      ProxFile     = "../data/nc2022_6_prox.csv"
      GeoFile      = "../data/nc2022_6_geo.csv"
      MovementFile = "../data/_nc2022_6_SSE2_movement.csv"
      PCFile       = "../data/nc2022_6_pc.csv"
      />
    <Map ID = "4"
      LocFile      = "../data/nc2022_7_loc.csv"
      ProxFile     = "../data/nc2022_7_prox.csv"
      GeoFile      = "../data/nc2022_7_geo.csv"
      MovementFile = "../data/_nc2022_7_SSE2_movement.csv"
      PCFile       = "../data/nc2022_7_pc.csv"
      />
  </MapLoader>
  <!--
    LocFile1  = "../data/nc2021_A_loc.csv"
    ProxFile1 = "../data/nc2021_A_prox.csv"
    LocFile2  = "../data/nc2021_B_loc.csv"
    ProxFile2 = "../data/nc2021_B_prox.csv"
    LocFile3  = "../data/nc2021_D_loc.csv"
    ProxFile3 = "../data/nc2021_D_prox.csv"
    MatchFile = "../data/nc2021_match.csv"
    
  <MapIO
    name = "OmniaLoad"
    Mode = "Load"
    Format = "Omnia"
    mapNum = "4"
    LocFile1  = "../data/nc2022_1_loc.csv"
    ProxFile1 = "../data/nc2022_1_prox.csv"
    LocFile2  = "../data/nc2022_2_loc.csv"
    ProxFile2 = "../data/nc2022_2_prox.csv"
    LocFile3  = "../data/nc2022_6_loc.csv"
    ProxFile3 = "../data/nc2022_6_prox.csv"
    LocFile4  = "../data/nc2022_7_loc.csv"
    ProxFile4 = "../data/nc2022_7_prox.csv"
    MatchFile = "../data/nc2022_match.csv"
    />
    LocFile1  = "../data/ku2022_11_loc.csv"
    ProxFile1 = "../data/ku2022_11_prox.csv"
    LocFile2  = "../data/ku2022_12_loc.csv"
    ProxFile2 = "../data/ku2022_12_prox.csv"
    LocFile3  = "../data/ku2022_13_loc.csv"
    ProxFile3 = "../data/ku2022_13_prox.csv"
    LocFile4  = "../data/ku2022_14_loc.csv"
    ProxFile4 = "../data/ku2022_14_prox.csv"
    LocFile5  = "../data/ku2022_15_loc.csv"
    ProxFile5 = "../data/ku2022_15_prox.csv"
    LocFile6  = "../data/ku2022_16_loc.csv"
    ProxFile6 = "../data/ku2022_16_prox.csv"
    MatchFile = "../data/ku2022_1A_match.csv"
  -->

  <MapSaver
    name = "OmniaSave"
    mapNum = "4"
    saveFormat = "Loc AbsProx LocMatch AbsProxMatch"
    MatchFile        = "../data/_nc2022_SPROX_match.csv"
    LocMatchFile     = "../data/_nc2022_SPROX_locmatch.csv"
    AbsProxMatchFile = "../data/_nc2022_SPROX_absproxmatch.csv"
    PoseRefFile      = "../data/_nc2022_SPROX_poseref.csv"
    >
    <Map ID = "1"
      LocFile      = "../data/_nc2022_1_SPROX_loc.csv"
      ProxFile     = "../data/_nc2022_1_SPROX_prox.csv"
      AbsProxFile  = "../data/_nc2022_1_SPROX_absprox.csv"
      MovementFile = "../data/_nc2022_1_SPROX_movement.csv"
      GeoFile      = "../data/_nc2022_1_geo.csv"
      LocGeoFile   = "../data/_nc2022_1_locgeo.csv"
      />
    <Map ID = "2"
      LocFile      = "../data/_nc2022_2_SPROX_loc.csv"
      ProxFile     = "../data/_nc2022_2_SPROX_prox.csv"
      AbsProxFile  = "../data/_nc2022_2_SPROX_absprox.csv"
      MovementFile = "../data/_nc2022_2_SPROX_movement.csv"
      GeoFile      = "../data/_nc2022_2_geo.csv"
      LocGeoFile   = "../data/_nc2022_2_locgeo.csv"
      />
    <Map ID = "3"
      LocFile      = "../data/_nc2022_6_SPROX_loc.csv"
      ProxFile     = "../data/_nc2022_6_SPROX_prox.csv"
      AbsProxFile  = "../data/_nc2022_6_SPROX_absprox.csv"
      MovementFile = "../data/_nc2022_6_SPROX_movement.csv"
      GeoFile      = "../data/_nc2022_6_geo.csv"
      LocGeoFile   = "../data/_nc2022_6_locgeo.csv"
      />
    <Map ID = "4"
      LocFile      = "../data/_nc2022_7_SPROX_loc.csv"
      ProxFile     = "../data/_nc2022_7_SPROX_prox.csv"
      AbsProxFile  = "../data/_nc2022_7_SPROX_absprox.csv"
      MovementFile = "../data/_nc2022_7_SPROX_movement.csv"
      GeoFile      = "../data/_nc2022_7_geo.csv"
      LocGeoFile   = "../data/_nc2022_7_locgeo.csv"
      />
  </MapSaver>
  <!--
    LocFile1  = "../data/ku2022_11B_loc.csv"
    ProxFile1 = "../data/ku2022_11B_prox.csv"
    AbsProxFile1 = "../data/ku2022_11B_absprox.csv"
    LocFile2  = "../data/ku2022_12B_loc.csv"
    ProxFile2 = "../data/ku2022_12B_prox.csv"
    AbsProxFile2 = "../data/ku2022_12B_absprox.csv"
    LocFile3  = "../data/ku2022_13B_loc.csv"
    ProxFile3 = "../data/ku2022_13B_prox.csv"
    AbsProxFile3 = "../data/ku2022_13B_absprox.csv"
    LocFile4  = "../data/ku2022_14B_loc.csv"
    ProxFile4 = "../data/ku2022_14B_prox.csv"
    AbsProxFile4 = "../data/ku2022_14B_absprox.csv"
    LocFile5  = "../data/ku2022_15B_loc.csv"
    ProxFile5 = "../data/ku2022_15B_prox.csv"
    AbsProxFile5 = "../data/ku2022_15B_absprox.csv"
    LocFile6  = "../data/ku2022_16B_loc.csv"
    ProxFile6 = "../data/ku2022_16B_prox.csv"
    AbsProxFile6 = "../data/ku2022_16B_absprox.csv"
    LocMatchFile  = "../data/ku2022_1B_locmatch.csv"
    ProxMatchFile = "../data/ku2022_1B_proxmatch.csv"
    
    
    LocFile1      = "../data/nc2022_SSE2_1_loc.csv"
    ProxFile1     = "../data/nc2022_SSE2_1_prox.csv"
    AbsProxFile1  = "../data/nc2022_SSE2_1_absprox.csv"
    LocFile2      = "../data/nc2022_SSE2_2_loc.csv"
    ProxFile2     = "../data/nc2022_SSE2_2_prox.csv"
    AbsProxFile2  = "../data/nc2022_SSE2_2_absprox.csv"
    LocFile3      = "../data/nc2022_SSE2_6_loc.csv"
    ProxFile3     = "../data/nc2022_SSE2_6_prox.csv"
    AbsProxFile3  = "../data/nc2022_SSE2_6_absprox.csv"
    LocFile4      = "../data/nc2022_SSE2_7_loc.csv"
    ProxFile4     = "../data/nc2022_SSE2_7_prox.csv"
    AbsProxFile4  = "../data/nc2022_SSE2_7_absprox.csv"
    LocMatchFile  = "../data/nc2022_SSE2_locmatch.csv"
    ProxMatchFile = "../data/nc2022_SSE2_proxmatch.csv"
    
    LocFile1  = "../data/nc2022_1B_loc.csv"
    ProxFile1 = "../data/nc2022_1B_absprox.csv"
    LocFile2  = "../data/nc2022_2B_loc.csv"
    ProxFile2 = "../data/nc2022_2B_absprox.csv"
    LocFile3  = "../data/nc2022_5B_loc.csv"
    ProxFile3 = "../data/nc2022_5B_absprox.csv"
    LocFile4  = "../data/nc2022_6B_loc.csv"
    ProxFile4 = "../data/nc2022_6B_absprox.csv"
    LocFile5  = "../data/nc2022_7B_loc.csv"
    ProxFile5 = "../data/nc2022_7B_absprox.csv"
    LocMatchFile  = "../data/nc2022_B_locmatch.csv"
    ProxMatchFile = "../data/nc2022_B_proxmatch.csv"  
  
    LocFile1      = "../data/ku2022_2B_loc.csv"
    ProxFile1     = "../data/ku2022_2B_prox.csv"
    MatchFile     = "../data/ku2022_2B_match.csv"
    AbsProxFile1  = "../data/ku2022_41A_absprox.csv"
    LocFile2      = "../data/ku2022_42A_loc.csv"
    ProxFile2     = "../data/ku2022_42A_prox.csv"
    AbsProxFile2  = "../data/ku2022_42A_absprox.csv"
    LocFile3      = "../data/ku2022_23A_loc.csv"
    ProxFile3     = "../data/ku2022_23A_prox.csv"
    AbsProxFile3  = "../data/ku2022_23A_absprox.csv"
    LocFile4      = "../data/ku2022_24A_loc.csv"
    ProxFile4     = "../data/ku2022_24A_prox.csv"
    LocFile5      = "../data/ku2022_25A_loc.csv"
    ProxFile5     = "../data/ku2022_25A_prox.csv"
    AbsProxFile4  = "../data/ku2022_24A_absprox.csv"
    AbsProxFile5  = "../data/ku2022_25A_absprox.csv"
    LocFile6      = "../data/ku2022_26A_loc.csv"
    ProxFile6     = "../data/ku2022_26A_prox.csv"
    AbsProxFile6  = "../data/ku2022_26A_absprox.csv"
  -->

  <G2OFileIO
    name = "PoseGraph"
    LoadFileName = "../data/before_nc2021.g2o"
    SaveFileName = "../data/after_nc2021_SSE2.g2o"
    />

  <G2OFileIO
    name = "BeforePGO"
    SaveFileName = "../data/_before.g2o"
    />

  <G2OFileIO
    name = "AfterPGO"
    SaveFileName = "../data/__after.g2o"
    />

  <ToG2OConverter
    name = "ToG2O"
    >
    <Node Tag = "VERTEX_PROX"/>
    <Odom Tag = "EDGE_SE2"
      poseRefGain = "10 10 10"
      />
    <Loop ID = "0" Tag = "EDGE_PROX"
      proxSimGain = "1"
      />
    <Loop ID = "1" Tag = "EDGE_PROX"
      proxSimGain = "1"
      />
    <Loop ID = "2" Tag = "EDGE_PROX"
      proxSimGain = "1"
      />
    <Loop Tag = "EDGE_SWITCH_PROX"
      proxSimGain = "-1"
      switchInfo  = "0.3"
      />
  </ToG2OConverter>

  <ToG2OConverter
    name = "_ToG2O"
    >
    <Node Tag = "VERTEX_PROX"/>
    <Odom Tag = "EDGE_SE2"
      poseRefGain = "10 10 3"
      />
    <Loop ID = "0" Tag = "EDGE_SE2"
          />
    <Loop ID = "1" Tag = "EDGE_SE2"
          />
    <Loop ID = "2" Tag = "EDGE_SE2"
          />
    <Loop Tag = "EDGE_SWITCH_SE2"
      switchInfo  = "0.3"
      />
  </ToG2OConverter>
  <!--
    <Loop Tag = "EDGE_M_Est_PROX"
      proxSimGain = "-1"
      robustKernel = "Huber"
      robustKernelDelta = "1"
      />
      
      
    <Loop Tag = "EDGE_SWITCH_PROX"
      proxSimGain = "-1"
      switchInfo  = "0.1"
      />
    
    Node
      Tag = "VERTEX_PROX"
            "VERTEX_SE2"
    Odom
      Tag = "EDGE_SE2"
    Loop
      Tag = "EDGE_SE2"
            "EDGE_SWITCH_SE2"
            "EDGE_PROX"
            "EDGE_SWITCH_PROX"
            "EDGE_M_Est_PROX"
    M_Est
      robustKernel = "Huber"
                     "Cauchy"
                     "GemanMcClure"
  -->

  <!--
  <ToMapConverter
    name = "ToMap"
    mapNum = "3"
    matchNum = "5"
    >
    <Map ID = "1"
      indexBegin = "0"
      indexEnd   = "1121"
      />
    <Map ID = "2"
      indexBegin = "1122"
      indexEnd   = "2478"
      />
    <Map ID = "3"
      indexBegin = "2479"
      indexEnd   = "3703"
      />
    <Match ID = "0"
      fMapId      = "1"
      fCountBegin = "32"
      fCountEnd   = "63"
      tMapId      = "1"
      tCountBegin = "1077"
      tCountEnd   = "1108"
      />
    <Match ID = "1"
      fMapId      = "2"
      fCountBegin = "29"
      fCountEnd   = "71"
      tMapId      = "2"
      tCountBegin = "1313"
      tCountEnd   = "1355"
      />
    <Match ID = "2"
      fMapId      = "1"
      fCountBegin = "18"
      fCountEnd   = "1122"
      tMapId      = "2"
      tCountBegin = "30"
      tCountEnd   = "1349"
      />
    <Match ID = "3"
      fMapId      = "1"
      fCountBegin = "29"
      fCountEnd   = "1122"
      tMapId      = "3"
      tCountBegin = "2"
      tCountEnd   = "1155"
      />
    <Match ID = "4"
      fMapId      = "2"
      fCountBegin = "32"
      fCountEnd   = "43"
      tMapId      = "3"
      tCountBegin = "2"
      tCountEnd   = "1162"
      />
  </ToMapConverter>
  -->

  <ProxMatcher
    name     = "ProxMatcher"
    clacSimEqMethod = "LDLT"
    maxItr = "30"
    >
    <Match/>
  </ProxMatcher>

  <ScanMatcher
    name     = "ScanMatcher"
    clacSimEqMethod = "LDLT"
    verticalRange = "-0.15deg 0.15deg"
    skip = "1"
    ignoreRatio = "2"
    maxItr = "10"
    >
    <Match/>
  </ScanMatcher>

  <!--
  <ProxMatcher
    name     = "ProxMatcher"
    clacSimEqMethod = "LDLT"
    >
    <Match ID = "0"/>
    <Match ID = "1"/>
    <Match ID = "2"/>
    <Match ID = "3"/>
    <Match ID = "4"/>
    <Match ID = "5"/>
  </ProxMatcher>
  -->

  <MapDirPrepro
    name     = "MapDirPrepro"
    clacSimEqMethod = "LDLT"
    />

  <Provisional name = "Provisional"/>
  
  
  <SEQUENCE>
    <!--    
    <task name="Provisional"/>
    
    <task name="MapDirPrepro"/>
    
    
    -->
    <task name="OmniaLoad"/>
    <task name="ToG2O Forward"/>
    <task name="BeforePGO Save"/>
    <task name="MainPGO"/>
    <task name="AfterPGO Save"/>
    <task name="ToG2O Reverse"/>
    <task name="OmniaSave"/>
    <!--
    <task name="_ToG2O Reverse"/>
    <task name="OmniaSave"/>
    
    
    <task name="ScanMatcher"/>
    <task name="ProxMatcher"/>
    
    <task name="OmniaLoad"/>
    <task name="_ToG2O Forward"/>
    <task name="BeforePGO Save"/>
    <task name="MainPGO"/>
    <task name="AfterPGO Save"/>
    <task name="_ToG2O Reverse"/>
    <task name="OmniaSave"/>
    
    <task name="ProxMatcher"/>
    <task name="_ToG2O Forward"/>
    <task name="MainPGO"/>
    <task name="_ToG2O Reverse"/>
    
    
    <task name="ProxMatcher"/>
    
    <task name="PoseGraph Load"/>
    <task name="PoseGraph Save"/>


    <task name="Provisional"/>
    
    <task name="for" n="1">
    </task>
    
    -->
  </SEQUENCE>
</setting>